:root {
	--ion-color-primary: #d8ca6e !important;
	--ion-color-primary-rgb: 216,202,110;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #beb261;
	--ion-color-primary-tint: #dccf7d;
}
.signup {
  --background-image: url(src/cant-touch-this-image.jpeg);
  --padding: 20px;
  --border-radius: 25px;
  --border-style: solid;
  --height: 100vh;
  --width: 100vw;
  --align-items: center;
  --background-repeat: no-repeat;
  // background-image: var(--background-image) ;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border-style: var(--border-style);
  border-width: 15px;
  border-color: rgba(4, 153, 246, 0.7);
  height: var(--height);
  width: var(--width);
  align-items: var(--align-items);
  background-repeat: var(--background-repeat);
  background: linear-gradient(rgba(4, 153, 246, 0.5), rgba(248, 224, 91, 0.5)), var(--background-image);
  text-align: center;
  margin: auto;
  background-size: cover;
}

h3 {
  font-family: Lexend ;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

ion-list {
  opacity: 100%;
  font-family: 'Lexend Peta', sans-serif;
  border-radius: 10px;
  background-color: black;

ion-item {
  padding: 2.5px 10px 1px;
  color: rgb(0, 0, 0, .5);
  background-color: rgb(4, 107, 136, 0.952);
  border-radius: 10px;

  
ion-label {
  background-color: rgb(4, 107, 136, 0.952);
  display:inline-block;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(14, 14, 14), 0 0 12px black;
  text-align: center;
  font-family: 'Lexend Peta', sans-serif;
  
}
}
}

ion-button.button-solid {
  background-image: linear-gradient(rgb(245, 213, 8, .5), rgb(0, 0, 0, .5)) !important;
  border-style: solid;
  border-color:  rgb(245, 213, 8);
  box-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px white, 0 0 4px black, 0 0 5px rgb(245, 213, 8, .5), 0 0 6px white, 0 0 7px black;
  padding: .5em;
}

div {
  background-color: transparent;
  color: black;
  text-shadow: 0 0 1px rgb(4, 107, 136, 0.952), 0 0 2px rgb(4, 107, 136, 0.952), 0 0 3px rgb(4, 107, 136, 0.952);
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.signup-submit {
  --padding: 5px;
  --box-shadow: 1px 1px 10px rgb(246, 210, 6);
  --width: 100%;
  --margin-top: 13px auto 1px;
  --border-radius: 10px;
  --background-color: rgb(246, 244, 170);
  padding: var(--padding);
  box-shadow: var(--box-shadow);
  width: var(--width);
  margin: var(--margin-top);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  display: block;
  align-items: center;
  justify-content: center;
  color: black;
}